@tailwind base;
@tailwind components;
@tailwind utilities;



.glow-card {
  background: rgba(0, 0, 0, 0.8); /* Fond légèrement transparent */
  box-shadow: 0 0 15px 5px rgba(122, 8, 236, 0.7), /* Lumière principale */
              0 0 30px 10px rgba(122, 8, 236, 0.5), /* Lumière externe */
              0 0 60px 20px rgba(122, 8, 236, 0.3); /* Lumière diffuse */
  backdrop-filter: blur(24px);
  -webkit-backdrop-filter: blur(24px); /* Compatibilité Safari */
  border-radius: 16px;
  border: 1px solid rgba(255, 255, 255, 0.1); /* Bordure subtile */
  transition: box-shadow 0.3s ease, transform 0.3s ease;
}

.glow-card:hover {
  transform: scale(1.05); /* Zoom léger au survol */
  box-shadow: 0 0 25px 10px rgba(122, 8, 236, 0.9), /* Lumière principale renforcée */
              0 0 50px 20px rgba(122, 8, 236, 0.7), /* Lumière externe plus forte */
              0 0 80px 30px rgba(122, 8, 236, 0.5); /* Lumière diffuse plus large */
}


/* Fond général 
body {
  background: radial-gradient(circle at 50% 30%, #074fdf, #0c49ce);
}


.stars {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  
}


.stars::before,
.stars::after {
  content: "";
  position: absolute;
  width: 200%;
  height: 200%;
  top: -50%;
  left: -50%;
  background: radial-gradient(circle, rgba(255, 255, 255, 0.8) 1px, transparent 1px);
  background-size: 5px 5px;
  animation: moveStars 60s linear infinite; 
}


.stars::after {
  background-size: 10px 10px; 
  opacity: 0.3; 
}


@keyframes moveStars {
  to {
    transform: translateY(100%); 
  }
}
*/